* {
	box-sizing: border-box;
	background-color: var(--main-color);
	/* font-weight: bold; */
	font-family: system-ui;
	direction: rtl;
	margin: 0;
}
:root {
	/*Creating Global Vars*/
	--main-color: #202328;
	--secondary-color: #ffffff;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img {
	margin: 90px 0px 30px;
	width: 200px;
}
.container {
	background-color: var(--secondary-color);
	width: 525px;
	height: 469px;
	margin: auto;
	padding: 30px 60px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.container div,
h3,
img,
input,
button {
	background-color: unset;
}
.container h3 {
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 30px;
}
.fbb {
	display: inline-flex;
	width: 60px;
	height: 45px;
	margin: 0px 5px 10px 5px;
	border-radius: 6px;
	background-color: #4165b5 !important;
	justify-content: center;
	align-content: center;
}
.ggb {
	display: inline-flex;
	width: 60px;
	height: 45px;
	margin: 0px 5px 10px 5px;

	border-radius: 6px;
	background-color: #db4437 !important;
	justify-content: center;
	align-content: center;
}
a {
	color: unset;
	/* background-color: transparent; */
	text-decoration: none;
	transition: all 0.2s 0s linear;
}
a:hover {
	filter: brightness(80%);
}

a img {
	filter: invert(1);
	width: 20%;
}
button {
	background-color: #ff4546;
	color: white;
	line-height: inherit;
	font-size: 18px;
	font-weight: 700;
	width: 100%;
	height: 50px;
	margin: 20px;
	padding: 10px 20px;
	border: 2px solid;
	border-radius: 6px;
	transition: all 0.2s 0s linear;
}
button:hover {
	cursor: pointer;
	filter: contrast(200%);
}
input {
	width: 400px;
	height: 50px;
	padding: 15px;
	margin: 10px;
	border: 2px solid lightgray;
	border-radius: 6px;
}
.forgot{
	font-size: 70%;
}
.forgot:hover {
	cursor: pointer;
	text-decoration: none !important;
}
.foot {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5vh;
	color: #fff;
	text-decoration: underline;
}
.foot:hover {
	cursor: pointer;
	text-decoration: none;
}
